@model Slider
<img src="~/img/slider/@Model.Image" style="width:200px;height:80px;object-fit:cover" />
<h4>@Model.Title</h4>
<div>@Model.Description</div>
<a asp-action="Index" class="btn btn-secondary mt-3">Go back</a>


